In [34]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 3.4 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting pytz>=2020.1
  Using cached pytz-2022.6-py2.py3-none-any.whl (498 kB)
Collecting numpy>=1.20.3
  Downloading numpy-1.23.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 3.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.5 pandas-1.5.2 pytz-2022.6

In [35]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("titanic.db")

In [3]:
cursor = conn.cursor()

In [32]:
cursor.execute("select PClass, avg(fare), Sex from titanic group by Sex;")
dict(cursor.fetchone())

{'Pclass': '1', 'avg(fare)': 44.47981783439487, 'Sex': 'female'}

In [9]:
cursor.row_factory =  sqlite3.Row

In [40]:
data = pd.read_sql_query('Select * from titanic;', conn)
type(data)

pandas.core.frame.DataFrame

In [ ]:
DELETE FROM titanic WHERE Embarked is NULL
`
UPDATE titanic SET Cabin = '¯\(ツ)/¯' WHERE Cabin is NULL

ALTER TABLE titanic ADD COLUMN FamilyCount REAL;
UPDATE titanic SET FamilyCount = SibSp+1

ALTER TABLE titanic ADD COLUMN isReverend REAL;
UPDATE titanic SET IsReverend = 1 WHERE Name like '%Rev%'
UPDATE titanic SET IsReverend = 0 WHERE isReverend is NULL

ALTER TABLE titanic ADD COLUMN Embarked_C REAL
ALTER TABLE titanic ADD COLUMN Embarked_Q REAL
ALTER TABLE titanic ADD COLUMN Embarked_S REAL
UPDATE titanic SET Embarked_C = 1 WHERE Embarked = 'C'
UPDATE titanic SET Embarked_S = 1 WHERE Embarked = 'S'
UPDATE titanic SET Embarked_Q = 1 WHERE Embarked = 'Q'
UPDATE titanic SET Embarked_C = 0 WHERE Embarked_C is NULL
UPDATE titanic SET Embarked_S = 0 WHERE Embarked_S is NULL
UPDATE titanic SET Embarked_Q = 0 WHERE Embarked_Q is NULL

ALTER TABLE titanic ADD COLUMN M REAL
ALTER TABLE titanic ADD COLUMN F REAL
UPDATE titanic SET M = 1 WHERE Sex = 'male'
UPDATE titanic SET F = 1 WHERE Sex = 'female'
UPDATE titanic SET M = 0 WHERE M is NULL
UPDATE titanic SET F = 0 WHERE F is NULL